@charset "UTF-8";

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --#139FD7: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #1abc9c;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #1abc9c;
  --secondary: #2c3e50;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {

  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  min-height: 1200px;
  min-width: 1400px;
  width: 100%;
  height: 100%;
  margin: 1rem;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #563d7c;
  text-align: left;
  background-color: white;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}


ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

a {
  color: #1abc9c;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #117964;
  text-decoration: underline;
}

img {
  vertical-align: middle;
  border-style: none;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[role=button] {
  cursor: pointer;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}


button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type=radio],
input[type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
}

.topdiv{
  width: 100%;
  height: 150px;
}

.top {
  text-align: center;
  padding-top: 30px;
  font-size: 50px;
  font-weight: bold;

  color: #563d7c;
}

.container-fluid {
  margin-right: auto;
}

.navigate {
  background-color: 	#139FD7;
}

.btn-outline-secondary{
  width: 100%;
}

.nav-link {
  color: white;
}

.nav-link:hover{
  color: #563d7c;
}

.exchange {
  position: relative;
  background-color: #eff8ff;
  width: 100%;
  height: 100px;
}

.exchange-left,.exchange-right{
  display: inline;
}

.right-content {
  display: block;
  width: 80%;
  float: right;
  height: 800px;
}

.options {
  display: block;
  float: left;
  padding: 0;
  width: 20%;
  height: 800px;
  background-color: #eff8ff;
}

.carousel-item {
  background-color: black;
  height: 800px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.btn{
  display: block;
}


.carousel-item img{
  position: absolute;
  object-fit:cover;
  top: 0;
  left: 0;
  min-height: 800px;
}

.footer{
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: block;
  background-color: #139FD7;
}

.btn{
  border-color: black;
  color: white;
  background-color: #139FD7 !important;
  border-radius: 10px !important;
  border-width: 1px;
}

.btn:hover{
  background-color: red !important;
  border-radius: 5px !important;
  color: white;
}

.btn:active{
  border-color: black;
}


.p-aboutus{
  margin: 10px;
}

.main{
  height: 800px;
}

.page-section .page-section-heading {
  font-size: 2.25rem;
  line-height: 2rem;
}

@media (min-width: 992px) {
  .page-section .page-section-heading {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}

.text-center {
  text-align: center !important;
}

.text-secondary {
  color: #2c3e50 !important;
}

.signin-container{
  margin-top: 5px;
}

.link{
  color: blue;
}

.link:hover{
  color: blue;
}

.glyphicon-calendar
{
    font-size: 15pt;
}

.input-group
{
    width: 180px;
    margin-top:30px;
}

.password1{
  float: left;
}
.password2{
  float: right;
}



.link{
  margin-left: 55px;
}

.color{
  margin-left: 46px; 
}

.size{
  margin-left: 56px;
}

.amount{
  width: 70px;
}

.order-container{
  margin-top: 50px;

}



.ordertextfield{
  width : 488px;
}

.vertical-div{
  width: 100%;
  height: 40px;
  background-color: #139FD7;
  
}

.main-body {
  width: 50;
  padding: 15px;
}

.card {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.card-body {
  max-width: 800px;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  border-color: #139FD7;
  flex: 1 1 auto;
  min-height: 1px;
  margin: 1rem;
  padding: 3rem;
}

.mb-3, .my-3 {
  margin-bottom: 1rem!important;
}

.bg-gray-300 {
  background-color: #e2e8f0;
}

.bold{
  font-weight: bold;
}

.col{
  color: #563d7c;
}

.deleteaccount{
  display: none;
  text-align: center;
}

.container-img{
  text-align: center;
  height: 300px;
}

.img-wrapper{
  display: inline-block;
  margin-top: 150px;
}

.aboutus-img-container{
  text-align: justify;
  float: left;
  width: 200px;
  height: auto;
  margin-left: 3rem;
  margin-right: 3rem;
}

.aboutus-img{
  width: 200px;
  height: 60%;
}

.calculator{
  font-weight: bold;
  text-align: center;
  width: 500px;
  height: 600px;
  border-style: solid;
  border-color: red;
  border-radius: 10px;
  border-width: 10px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45);
  margin-top: 100px;
}

.checkout-container{
  display: inline-block; 
  text-align: left; 
  margin-top: 100px;
  border-style: solid;
  border-color: red;
  border-radius: 10px;
  border-width: 10px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45);
  ;
}

.products-container{
  margin-top: 50px;
}

