{% extends 'base.html' %}

{% load static %}

{% block content %}

<div  class="right-content">
    <p class="p-aboutus">Lorem ipsum, dolor sit amet
    Eos deleniti soluta vel quidem, adipisci nulla quasi natus fugit minus magni dolorem. Atque deserunt modi debitis iusto commodi sed sint, magnam culpa reiciendis rem earum nobis! Totam, et quasi.
    Quos sit laborum officiis numquam iste esse consequuntur quod officia libero. Tempore aliquam, temporibus tenetur velit reiciendis ullam laboriosam voluptates esse explicabo alias voluptas placeat sunt saepe suscipit! Fugiat, repellat!</p>
</div>

{% endblock %}
