{% extends 'base.html' %}

{% load static %}

{% block content %}

<div  class="right-content">
    <p class="p-aboutus">Lorem ipsum, dolor sit amet
    Eos deleniti soluta vel quidem, adipisci nulla quasi natus fugit minus magni dolorem. Atque deserunt modi debitis iusto commodi sed sint, magnam culpa reiciendis rem earum nobis! Totam, et quasi.
    Quos sit laborum officiis numquam iste esse consequuntur quod officia libero. Tempore aliquam, temporibus tenetur velit reiciendis ullam laboriosam voluptates esse explicabo alias voluptas placeat sunt saepe suscipit! Fugiat, repellat!</p>

    <div class="container-img">
        <h2 style="margin-top: 50px;">How it Works?</h2>
        <div class="img-wrapper">
            <div class="aboutus-img-container">
                <img src="{% static 'deliveryapp/images/image4.jpg'%}" class="aboutus-img">
                <p>Choose any product you want us to deliver for you from our partner's webpages</p>
            </div >
            <div class="aboutus-img-container">
                <img src="{% static 'deliveryapp/images/image5.jpg'%}" class="aboutus-img">
                <p>Sing up and order the product on our webpage</p>
            </div>
            <div class="aboutus-img-container">
                <img src="{% static 'deliveryapp/images/image6.jpg'%}" class="aboutus-img">
                <p>Wait till the product gets delivered to our storage. You can follow the status
                    of the product from "Products in Storage" section(You should sign in first to see that section)</p>
            </div>
            <div class="aboutus-img-container">
                <img src="{% static 'deliveryapp/images/image7.jpg'%}" class="aboutus-img">
                <p>Pick up the product from our storage when it gets delivered or use
                "home delivery" option to get the product to your address</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
