
{% extends 'base.html' %}

{% load static %}

{% block content %}

<div  class="right-content" style="text-align: center;">
    <div class="container checkout-container" >
        <h6>Your product : {{order.url}}</h6>
        <h6>Size : {{order.size}}</h6>
        <h6>Color : {{order.color}}</h6>
        <h6>Amount : {{order.amount}}</h6>
        <h6>Total price : {{order.price}} (+10% added)</h6>
        <h6>Other information : {{order.other}}</h6>
        <h6>Do you want to proceed to checkout?</h6>
        <button style="background-color: red !important; margin-top: 50px; float: left;" class="btn btn-primary btn-xl" id="checkoutbutton" type="button" data-toggle="modal" data-target="#exampleModal">Checkout</button>
        <button style="background-color: red !important; margin-top: 50px; float: right;" class="btn btn-primary btn-xl" id="backtoorderbutton" type="button">Go back to order</button>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" ]>Checkout</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="text-align: center;">
            <div id="paypal-button-container" style="width: 50%; display: inline-block; margin-top: 30px;"></div>
            <script src="https://www.paypal.com/sdk/js?client-id=AalbmKsKP9fwmlaDX44RM7LJ1M_0CcUo20Co_DtulLAnodMsR-rmjonLgzIKSb7BgR2y0PVMP0Dd22pV&currency=USD"></script>
        
            <script>
                // var price = parseFloat(document.getElementById("price").value)
                // Render the PayPal button into #paypal-button-container
                function getCookie(name) {
                    let cookieValue = null;
                    if (document.cookie && document.cookie !== '') {
                        const cookies = document.cookie.split(';');
                        for (let i = 0; i < cookies.length; i++) {
                            const cookie = cookies[i].trim();
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }   
                const csrftoken = getCookie('csrftoken');
                
                function completeOrder(){
                    var url = "{% url 'complete' %}"
                    var product = '{{order.url}}'
                    fetch(url, {
                        method: 'POST',
                        headers:{
                            'Content-type':'applicataion/json',
                            'X-CSRFToken':csrftoken,
                        },
                        body: JSON.stringify({
                            'url' : '{{order.url}}',
                            'size' : '{{order.size}}',
                            'color' : '{{order.color}}',
                            'amount' : '{{order.amount}}',
                            'price' : '{{order.price}}',
                            'other' : '{{order.other}}',
                        })
                    })
                }
                
                paypal.Buttons({
                    // Set up the transaction
                    createOrder: function(data, actions) {
                        return actions.order.create({
                            purchase_units: [{
                                amount: {
                                    value: '{{order.price}}'
                                }
                            }]
                        });
                    },
        
                    // Finalize the transaction
                    onApprove: function(data, actions) {
                        return actions.order.capture().then(function(details) {
                            completeOrder()
                            alert('Transaction completed by ' + details.payer.name.given_name + '!');
                        });
                    },
        
                    style: {
                        color:  'blue',
                        label:  'pay',
                        height: 40,
                    }
        
                }).render('#paypal-button-container');
            </script>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
