{% extends 'base.html' %}

{% load static %}

{% block content %}
<div  class="right-content">
    {% if user.is_authenticated %}
    <div class="signin-container">
        {% if error %}
        <div class="alert alert-warning" role="alert" style="text-align: center">
           {{error}}
          </div>
        {% endif %}
        <div  class="container row order-container">
            <h2 class="page-section-heading text-center mb-0">Order</h2>
            <div class="col-lg-8 mx-auto">
                <form id="orderform" name="orderform" novalidate="novalidate" method="post">
                    {% csrf_token %}
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label class="bold">Link</label>
                            <input class="form-control " name="link" id="link" type="url" placeholder="Link" />
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label  class="bold">Color</label>
                            <input class="form-control " name="color" id="color" type="text" placeholder="Color" />
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label  class="bold">Size</label>
                            <input class="form-control " name="size" id="size" type="text" placeholder="Size" />
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div>
                        <div class="control-group" style="float:left">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label  class="bold">Amount</label>
                                <input class="form-control amount" name="amount" id="amount" type="number" step=1 value="1"/>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group"  style="float:right">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label  class="bold">Price of a product(USD)</label>
                                <input class="form-control price" name="price" id="price" type="number" value="0.00"/>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                    </div>
                    <div class="control-group" style="margin-top: 100px;">
                        <div class="form-group">
                            <label  class="bold">Other information you want us to know</label>
                            <textarea class="form-control " id="exampleFormControlTextarea1" rows="3" name="other"></textarea>
                          </div>
                    </div>
                    <br />
                    <div class="form-group order-button">
                        <button style="background-color: #139FD7;" class="btn btn-primary btn-xl" id="orderButton" type="submit">Order</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% else %}
    <div class="alert alert-warning" role="alert" style="text-align: center;margin-top: 4rem;">
        <p>Please sing in first to order a product</p>
   </div>
   {% endif %}
   
</div>



{% endblock %}
