{% extends 'base.html' %}

{% load static %}

{% block content %}

<div  class=" right-content">
    {% if user.is_authenticated %}
    <div class="container products-container">
    <table class="table table-light">
        <thead class="thead-light">
          <tr>
            <th class="col" scope="col" style="width:15%;">Order</th>
            <th class="col" scope="col" style="width:15%;">Link to the product</th>
            <th class="col" scope="col" style="width:15%;">Color</th>
            <th class="col" scope="col" style="width:15%;">Size</th>
            <th class="col" scope="col" style="width:15%;">Amount</th>
            <th class="col" scope="col" style="width:10%;">Price</th>
            <th class="col" scope="col" style="width:15%;">Status</th>
          </tr>
        </thead>
        <br>
        <tbody>
        {% for order in orderdict %}
          <tr>
            <th class="bold" scope="row">{{order.id}}</th>
            <td class="bold" ><a href="{{order.url}}" style="color: blue;">{{order.url}}</a></td>
            <td class="bold" >{{order.color}}</td>
            <td class="bold">{{order.size}}</td>
            <td class="bold" >{{order.amount}}</td>
            <td class="bold" >{{order.price}}$</td>
            <td class="bold" >{{order.get_status_display}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
    <div class="alert alert-warning" role="alert" style="text-align: center;">
        <p>Please sing in first to order a product</p>
    </div>
    {% endif %}
    </div>
</div>

{% endblock %}
