{% extends 'base.html' %}

{% load static %}

{% block content %}

<div  class="right-content">
    {% if user.is_authenticated %}
    <table class="table table-warning">
        <thead class="thead-light">
          <tr>
            <th class="col" scope="col">Order N</th>
            <th class="col" scope="col">Link to the product</th>
            <th class="col" scope="col">Color</th>
            <th class="col" scope="col">Size</th>
            <th class="col" scope="col">Amount</th>
            <th class="col" scope="col">Status</th>
          </tr>
        </thead>
        <br>
        <tbody>
        {% for order in orderdict %}
          <tr>
            <th class="bold" scope="row">{{order.id}}</th>
            <td class="bold" ><a href="{{order.url}}" style="color: blue;">{{order.url}}</a></td>
            <td class="bold" >{{order.color}}</td>
            <td class="bold">{{order.size}}</td>
            <td class="bold" >{{order.amount}}</td>
            <td class="bold" >{{order.get_status_display}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
    <div class="alert alert-warning" role="alert" style="text-align: center;">
        <p>Please sing in first to order a product</p>
    </div>
    {% endif %}

</div>

{% endblock %}
