{% extends 'base.html' %}

{% load static %}

{% block content %}
<div  class="right-content">
    <div class="container signin-container">
        <h2 class="page-section-heading text-center mb-0">Sign in</h2>
        {% if error %}
        <div class="alert alert-warning" role="alert" style="text-align: center;">
           {{error}}
          </div>
        {% endif %}
        <div  class="row">
            <div class="col-lg-8 mx-auto">
                <form id="signinform" name="signinform" novalidate="novalidate" method="post">
                    {% csrf_token %}
                    <h1>{{password}}</h1>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label class="bold">Email</label>
                            <input class="form-control" name="email" id="email" type="email" placeholder="Email"/>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label class="bold">Password</label>
                            <input class="form-control" name="password" id="password" type="password" placeholder="Password"/>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <button style="background-color: #139FD7;" class="btn btn-primary btn-xl" id="sendMessageButton" type="submit">Sign in</button>
                    </div>
                </form>
                <h4 style="margin-top: 20px;">Don't have an account?</h4>
                <a href="/signup" class="link">Sign up</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
